<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project IO</title>

    <script src="/css/jquery-3.4.1.min.js"></script>

    <!--Boostrap jQuery-->
    <script src="/css/4.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/formatting.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Project IO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a th:href="@{/}" class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/employees/}" class="nav-link" href="#">Employees</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/employees/new}" class="nav-link" href="#">Add employee</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/projects/}" class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/projects/new}" class="nav-link" href="#">Add project</a>
                </li>
            </ul>
            <div class="login_panel">
                <a th:href="@{/login}" class="btn btn-primary btn-sm mb-3" th:classappend="${loggedin} ? 'hidden-item' : 'visible-item'" >
                    Login
                </a>
                <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3" th:classappend="${loggedin} ? 'visible-item' : 'hidden-item'" >
                    Logout
                </a>
            </div>
        </div>
    </nav>
</body>
</html>