<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"/>
<nav th:replace="layouts :: navbar"></nav>
<body>
    <div class="container">
        <h4>Employees</h4>
        <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">
            Add Employee
        </a>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="anEmployee : ${employeeList}">
                <td th:text="${anEmployee.employeeId}"/>>
                <td th:text="${anEmployee.firstName}"/>
                <td th:text="${anEmployee.lastName}"/>
                <td th:text="${anEmployee.email}"/>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>